<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart</title>
    <link rel="shortcut icon" href="favicon.ico">
    <style>
        .active{
            background-color: #eee;
        }
        .message-box{
            padding: 0 20px;
            background-color:#ddd;
            border: 1px solid #333;
            border-radius: 3px;
            position: relative;
        }
        .message-box-close{
            position: absolute;
            right: 20px;
            top: 10px;
        } 
    </style>
</head>
<body>
    <!-- 宿主文件 -->
    <div id="app">
        <message :fckingshow.sync="isShow" @close="isShow=$event">
            <template v-slot:title="slotProps">
                <h4>{{slotProps.title}}</h4>
            </template>
            <template>
                <p>added successfully</p>
            </template>
        </message>

        <h2 :title="title">{{title}}</h2>

        <vegetable-add v-model="newSpecies" @add-new="add"></vegetable-add>

        <vegetable-add2 :arr="vegetables"></vegetable-add2>

        <vegetable-add3 @add-new='addNew'></vegetable-add3>

        <vegetable-list :vegetables="vegetables"></vegetable-list>

    </div> 
 
    <script src="vue.js"></script>
    <script>
        Vue.component('message', {
            props:['fckingshow'],
            template:`
                <div class="message-box" v-if="fckingshow">
                    <slot name="title" title="what the fck"></slot>
                    <slot></slot>
                    <i class="message-box-close" @click="$emit('update:fckingshow', false)">X</i>
                </div>
            `
        })

        Vue.component('vegetable-add3', {
            data() {
                return {
                    newV: ''
                }
            },
            props:['arr'],
            methods: {
                add() {
                    this.$emit('add-new', this.newV)
                    this.newV = '';
                }
            },
            template:
            `<div>
                <input 
                    v-model="newV"
                    type="text" 
                    @keydown.enter="add"
                />
                <button @click="add">add3</button>
            </div>`
        });

        Vue.component('vegetable-add2', {
            data() {
                return {
                    newV: ''
                }
            },
            props:['arr'],
            methods: {
                add() {
                    this.arr.push(this.newV);
                    this.newV = '';
                }
            },
            template:
            `<div>
                <input 
                    v-model="newV"
                    type="text" 
                    @keydown.enter="add"
                />
                <button @click="add">add2</button>
            </div>`
        });

        Vue.component('vegetable-add', {
            props: ['value'],
            methods: {
                add(){
                    this.$emit('add-new');

                },
                onInput(e){
                    this.$emit('input', e.target.value);
                }
            },
            template:
            `<div>
                <input 
                    type="text" 
                    :value="value" 
                    @input="onInput"
                    @keydown.enter="add"
                />
                <button @click="add">add</button>
            </div>`
        });

        Vue.component('vegetable-list', {
            data() {
                return {
                    selected: null,
                }
            },
            props:{
                vegetables:{
                    type: Array,
                    default: []
                }
            },
            computed: {
                total() {
                    return this.vegetables.length; 
                }
            },
            template:`
                <div>
                    <div v-if="vegetables.length==0">no data</div>
                    <div 
                        v-else
                        :class="{ active: selected===e }" 
                        :key="e"
                        v-for="e in vegetables" 
                        @mouseenter="selected=e"
                        @mouseleave="selected=undefined"
                    >{{ e }}</div>
                    <p>{{ total }}</p>
                </div>
            `
        });

        const app = new Vue({
            el: '#app',
            data() {
                return {
                    title: 'vegetables',
                    newSpecies: null,
                    vegetables: ['potato','tomato','carrot'],
                    isShow: false,
                }
            },
            methods: {
                add() {
                    this.vegetables.push(this.newSpecies);
                    this.newSpecies = '';
                    this.isShow = true;
                },
                addNew(e){
                    this.vegetables.push(e);
                }
            },
        });

    </script>
</body>
</html>